.custom-select {
  position: relative;
  width: 200px;
  text-align: left;
  outline: none;
  line-height: 34px;

  &__input {
    padding: 5px;
    border-radius: 4px;
    border: 2px solid #000000;
    margin: 2px 5px;
    color: #000;
  }
}

.custom-select .selected {
  background-color: white;
  border-radius: 6px;
  border: 1px solid #ccc;
  color: black;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}

.custom-select .selected.open {
  border: 1px solid #ccc;
  border-radius: 4px 4px 0px 0px;
}

.custom-select .selected:after {
  position: absolute;
  content: "";
  top: 15px;
  right: 1em;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: black transparent transparent transparent;
}

.custom-select .items {
  color: #000000;
  border-radius: 0px 0px 4px 4px;
  overflow: hidden;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  z-index: 1;

  :hover {
    color: #ffffff;
  }
}

.custom-select .items div {
  color: #000;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}

.custom-select .items div:hover {
  background-color: #66afe9;
}

.selectHide {
  display: none;
}
