.layout{
  position: relative;
}
.message {
  position: fixed;
  top:135px;
  right: 5px;
  z-index: 10;

  &__content{
    background: #e2e2e2;
    border: 2px solid #003b5c;
    width: 400px;
    height: 350px;
    border-radius: 4px;
  }

  &__start {
    color: #777777;
    text-align: center;
    position: relative;
    top: 45%;
  }
}
