.containers{
  max-width: 1200px;
}
.nav {
  height: 50px;
  margin: 0 15px;
  padding: 0 15px;
  background: #003b5c;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &__icon {
    width: 20px;
    height: 20px;

  }

  &__list {
    display: flex;
    list-style: none;
    padding: 0;

    &--left {
      flex: 1 0 auto;
    }
  }

  &__item {
    position: relative;
    padding: 15px;
    color: white;
    display: flex;
    align-items: center;

    &:hover {
      background: #62b5e5;
      .nav__link {
      }

      > .nav__subnav {
        display: block;
        z-index: 1;
      }
    }
  }

  &__link {
    position: relative;
    display: block;

    font-size: 14px;
    color: white;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    transition: background-color 0.3s linear;
  }

  &__dropdown-icon {
    right: -20px;
    font-size: 8px;
    padding-left: 5px;
  }

  &__subnav {
    display: none;
    list-style: none;
    padding: 0;

    width: auto;
    background: #003b5c;

    position: absolute;
    top: 100%;
    left: 0;
  }

  &__subnav-link {
    display: block;

    white-space: nowrap;
    padding: 3px 20px;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-decoration: none;

    &:hover {
      background: #62b5e5;
      text-decoration: none;
    }
  }
}
