.audit{
  &__header{
    font-size: 30px;
    line-height: 1.1;
  }
  &__form{
    border: 1px solid black;
    border-radius: 4px;
    &-form{
      padding: 15px;
    }
    &-row{
      display: flex;
      flex-direction: row;
      margin: 10px 0;
    }
  }
}