.people-table {
  border-collapse: collapse;
  width: 100%;

  &__thead {
    th {
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      padding: 5px 0 5px 15px;
      text-align: left;
    }
  }

  &__tbody {
    td {
      display: table-cell;
      vertical-align: top;
      padding: 12px 15px;
      border: none;
      width: 1%;
      white-space: nowrap;
    }

    tr:nth-child(2n) {
      td {
        background: #eee;
      }
    }
  }

  &__first{
    color: #337ab7;
    margin-left: -15px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }

  &__link{
    color: #337ab7;
    margin-left: 5px;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }

  &__tfoot{
    tr{
      display: flex;
      flex-direction: column;
      th{
        text-align: left;
        padding-bottom: 10px;
        font-weight: 400;
      }
    }
  }
}

.people {
  &__title {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  &__group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex: 1 1 33%;

    &:nth-child(1) {
      justify-content: space-between;
    }
  }

  &__table {
    border: 1px solid black;
    border-radius: 4px;
    padding: 15px;
    flex: 1 1 75%;
  }

  &__form {
    margin-left: 15px;
    flex: 1 1 33%;

    &-body {
      display: flex;
      flex-direction: column;
      padding: 15px;
    }
  }

  &__add-person {
    font-size: 14px;
  }

  &__input, &__select {
    margin-bottom: 15px;
  }

  &__search {
    margin-right: auto;
  }
}
