.teams {
  &__head {
    font-size: 30px;
    line-height: 1.1;
  }

  &__content {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
  }

  &__text {
    font-style: normal;
    margin-right: 10px;
  }

  &__search {
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-left: 10px;
    font-size: 25px;
    width: 15%;

    &-div {
      border-top: 1px solid #cccccc;
    }

    &-p {
      border: 1px solid #ccc;
      margin: 5px;
      font-size: 25px;
      align-items: center;
      width: 94%;
    }

    &-p:focus {
      border: 1px solid #000;
    }

    &-text {
      font-size: 15px;
      padding-left: 5px;
      padding-bottom: 5px;
    }
  }

  &__dropdown-icon {
    right: -20px;
    font-size: 10px;
    padding-left: 5px;
  }

  &__table{
    margin-top: 10px;
    height: 40px;
    display: flex;
    flex-direction: row;

    &-import{
      margin-right: 20px;
      width: 40%;
    }

    &-btn{
      padding: 10px;
      margin: 10px;
    }

    &-imports{
      margin-left: 20px;
      width: 30%;
    }
  }

  &__tables{
    border: 1px solid #003b5c;
    border-radius: 4px;

    &-header{
      background: #003b5c;
      width: 100%;
    }

    &-content{
      padding: 10px 20px;
      color: white;
    }

    &-competitors{
      margin: 10px 10px 30px 10px;
      border-radius: 4px;
      border: 1px solid #cccccc;
      border-bottom: 1px solid white;
    }

    &-items{
      color: black;
      padding: 5px 10px;
      border-bottom: 1px solid #cccccc;
    }
  }
}
